.event-detail-container {
  width: 60%;
  justify-content: center;
  align-items: center;
  color: black;
  backdrop-filter: blur(20px);
  margin: 5% auto;
  border-radius: 3%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.event-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.e-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #ddd;
  object-fit: cover;
}

.event-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 50%;
}

.event-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding-right: 5%;
}

.register-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #371426;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  align-items: center;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #550660;
}

.event-rules {
  list-style-type: numeric;
  padding-top: 2rem;
}

.e-heading {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.sub-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.active-sub-tab {
  margin-top: -25px;
  transition: margin-top 0.3s ease;
}

.e-subtab .e-top,
.e-subtab .e-bottom {
  height: 3px;
  background-color: #ddd;
}

.e-subtab.active-sub-tab .e-top,
.e-subtab.active-sub-tab .e-bottom {
  background-color: yellow;
}

@media screen and (min-width: 768px) {
  .active-sub-tab {
    color: yellow;
  }
}

@media screen and (max-width: 768px) {
  .sub-tabs {
    gap: 10px;
    font-size: 14px;
  }

  .e-subtab .e-top,
  .e-subtab .e-bottom {
    background-color: #ddd;
  }

  .active-sub-tab {
    color: yellow;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .sub-tabs {
    display: grid;
    gap: 15px;
    font-size: 13px;
  }

  .event-detail-container {
    width: 90%;
    padding: 15px;
  }

  .event-title {
    font-size: 1.5rem;
  }

  .register-btn {
    font-size: 0.9rem;
  }

  .event-head {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .e-icon {
    width: 100px;
    height: 100px;
  }

  .event-title-wrapper {
    width: 100%;
    align-items: center;
  }
  .active-sub-tab {
    color: yellow;
  }
  .sub-tabs{
    text-align:center;
  }
}