.main-footer {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2)
    ),
    url("../assets/footerwallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
