.main-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)),
    url("../assets/food/bg5.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px; /* Added padding for spacing */
}

.text-[#00ffcc] {
  color: #00ffcc;
}

.text-center {
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.z-10 {
  z-index: 10;
}
