body{
    font-family: "Comic Sans MS", cursive;
    background-image: url("./src/assets/p0fq9cyz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
}