.events-container {
  background-image: url("/assets/food/bg1.jpeg");
  text-align: center;
  padding: 2rem;
  margin: 0;
  padding: 0;
  min-height: 250vh !important;
  background-size: cover;
  background-position: center;
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
  color: #ffffff;
}

.events-title {
  font-size: 3rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 2rem;
}

.events-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
